#header img{
    border-radius: 50px;

}

#main .carousel-inner img {
    max-height: 80vh;
    object-fit: contain;
    /*filter: grayscale(50%);*/
}

div #text-carousel {
    background: rgba(238, 234, 238, 0.4);
    color: black;
}

#ver #btn a{
    color: white;
    text-decoration: none;
}